<h1>Productos</h1>
<ul>
  {{#each products}}
    <li><h2>{{this.title}}</h2>
      <p>Descripcion : {{this.description}}</p>
      <p>Precio: {{this.price}}</p>
      <p>Category: {{this.category}} </p></li>
    <button> Agregar al Carrito </button>
  {{/each}}
</ul>
{{#if hasNextPage}}
  <a href="/products?limit={{limit}}&page={{nextPage}}">Siguiente</a>
{{/if}}
{{#if hasPrevPage}}
  <a href="/products?limit={{limit}}&page={{prevPage}}">Anterior</a>
{{/if}}

<p>Página {{currentPage}} de {{totalPages}} </p>